* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    background-color: black; /* Changed to complete black */
}

nav {
    background: #333;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.home-section {
    background-color: black; /* Set the home section background to black */
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    color: #fff;
}

.text-container {
    max-width: 50%;
}

.photo-container {
    position: absolute;
    right: 150px;
    bottom: 65px;
}

.profile-photo {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 50%;
}

.text-white {
    color: white;
}

.home-section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.home-section .btn {
    background-color: #ff6200;
    padding: 0.8em 1.5em;
    border: none;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 1em;
}

.about-section, .projects-section, .resume-section, .contact-section, .skills-section, .education-section {
    background-color: black; /* Set background to black for all sections */
    padding: 5em 2em;
    text-align: center;
}

.about-section h2, .projects-section h2, .resume-section h2, .contact-section h2, .skills-section h2, .education-section h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.project {
    margin-bottom: 2em;
}

form input, form textarea {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
}

form button {
    padding: 0.8em 1.5em;
    background-color: #ff6200;
    color: #fff;
    border: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

ul {
    list-style: none; /* This removes the bullets */
    padding-left: 0; /* Removes any default indentation */
}
